@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: whitesmoke; /* Use raw hex instead of @apply custom */
    color: black;            /* text-textSecondary value */
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #0e2cd7; /* accent color */
    transition: color 0.3s ease;
  }

  a:hover {
    color: orangered;
  }

  h1, h2, h3, h4, h5 {
    color:  black;
  }
}







